<script>
    $(function() {
        $( "#dialog:ui-dialog" ).dialog( "destroy" );

	$( "#suppliers-popup" ).dialog({
	    autoOpen: false,
	    height: 300,
	    width: 350,
	    modal: true,
	    buttons: {
		"Create an account": function() {
		},
		Cancel: function() {
		    $( this ).dialog( "close" );
		}
	    },
	    close: function() {
                $( "#suppliers-popup" ).dialog( "close" );
	    }
	});

	$("#new-supplier")
	    .button({
		icons: {
		    primary: "ui-icon-plusthick"
		}
	    })
            .click(function() {
		$( "#suppliers-popup" ).dialog( "open" );
            });
    });
</script>

<div id="Suppliers">
  <button id="new-supplier"> Supplier</button>
</div>
<div id="suppliers-popup">
  <form action="/contact/" method="post">{% csrf_token %}
    {{ form.as_p }}
  </form>
</div>


<script type="text/javascript" charset="utf-8">
    $(function() {
	/* Data set - can contain whatever information you want */
	var aDataSet = [ ];

	$(document).ready(function() {
	    var suTable;
	    $('#suppliers-dynamic').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="suppliersList"></table>' );
	    suTable = $('#suppliersList').dataTable( {
		"bJQueryUI": true,
		"aaData": aDataSet,
		"sPaginationType": "full_numbers",
		/* "bProcessing": true,
		 "sAjaxSource": "/json_suppliers",*/
		"aoColumns": [
		    { "sTitle": "Type" },
		    { "sTitle": "TicketNo" },
		    { "sTitle": "Client" },
		    { "sTitle": "Purchaser"},
		    { "sTitle": "Amount" }
		  /*{ "sTitle": "Engine" },
		    { "sTitle": "Browser" },
		    { "sTitle": "Platform" },
		    { "sTitle": "Version", "sClass": "center" },
		    {
			"sTitle": "Grade",
			"sClass": "center",
			"fnRender": function(obj) {
			    var sReturn = obj.aData[ obj.iDataColumn ];
			    if ( sReturn == "A" ) {
				sReturn = "<b>A</b>";
			    }
			    return sReturn;
			}
		    }*/
		]
	    });

	    $("#suppliersList tbody tr").click( function( e ) {
		if ( $(this).hasClass('row_selected') ) {
		    $(this).removeClass('row_selected');
		} else {
		    suTable.$('tr.row_selected').removeClass('row_selected');
		    $(this).addClass('row_selected');
		}
	    });
	});
	/* Get the rows which are currently selected */
	function fnGetSelected( suTableLocal ) {
	    return suTableLocal.$('tr.row_selected');
	}
    });
</script>
<div id="suppliers-dynamic"></div>
