<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Theme Tours &amp; Travels</title>
<link rel="stylesheet" href="/static/css/themetours.css">
<link rel="stylesheet" href="/static/css/jquery.ui.all.css">
<link rel="stylesheet" href="/static/css/jquery.dataTables_themeroller.css">
<script src="/static/js/jquery-1.7.2.js"></script>
<script src="/static/js/external/jquery.bgiframe-2.1.2.js"></script>
<script src="/static/js/ui/jquery.ui.core.js"></script>
<script src="/static/js/ui/jquery.ui.widget.js"></script>
<script src="/static/js/ui/jquery.ui.tabs.js"></script>
<script src="/static/js/ui/jquery.ui.button.js"></script>
<script src="/static/js/ui/jquery.ui.mouse.js"></script>
<script src="/static/js/ui/jquery.ui.draggable.js"></script>
<script src="/static/js/ui/jquery.ui.position.js"></script>
<script src="/static/js/ui/jquery.ui.resizable.js"></script>
<script src="/static/js/ui/jquery.ui.dialog.js"></script>
<script src="/static/js/ui/jquery.effects.core.js"></script>
<script src="/static/js/ui/jquery.effects.core.js"></script>
<script src="/static/js/ui/jquery.dataTables.js"></script>
<script src="/static/js/ui/jquery.ui.datepicker.js"></script>
<script src="/static/js/ui/jquery.ui.accordion.js"></script>
{% block jQueryScript %} {% endblock %}
</head>
<body>
<center>
<div class="page-container">
<div class="header-logo">
<img src="/static/images/logo.jpg" alt="Theme Tours & Travels Pvt Ltd" width="323" height="82" border="0" align="left" />
<br/>
</div>
{% block tabwidget %} {% endblock %}
</div>
</center>
</body>
</html>
